.success {
  padding: 0 1.5625rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    position: relative;
    top: 20%;
    color: @Blue-800;
    img {
      width: 65px;
    }
    h1 {
      margin-top: 40px;
      font-size: 34px;
    }
    article {
      margin-top: 22px;
    }
  }
  button {
    width: 100%;
    color: @White;
    background-color: @Blue-800;
    border: none;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 42px;
    font-size: 16px;
    font-weight: 400;
  }
}